.App.container {
  background-color: #e94c26;
  overflow:hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  position: absolute;
  top: 10px;
  left: 10px;
  filter: invert(100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  position: relative;
  margin: auto;
  text-align: right;
}

.App-header-text {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  color: #fff;
}

.App-header h1 {
  margin-bottom: 0px;
  font-weight: bold;
}

.App-header h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.App-footer {
  text-align: center;
  font-color: #ccc;
  font-size: 1.5rem;
}

.container {
  width: auto;
  padding: 0px;
}

@media (min-width: 550px) {
  .App-header {
    width: 500px;
  }
  .App-logo {
    height: 140px;
  }
}

@media (min-width: 769px) {
  .container {
    width: 760px;
  }
}

